[submodule "dark-blueberry"]
	path = themes/dark-blueberry
	url = https://github.com/SingularisArt/hugo-dark-blueberry
[submodule "themes/hugo-video"]
	path = themes/hugo-video
	url = https://github.com/martignoni/hugo-video.git
