{{ define "main_class"}}page-home{{ end}} {{ define "main_content" }}
<style>
  .circle-image {
    position: relative;
    display: inline-block;
    border-radius: 100%;
    overflow: hidden;
    width: 150px;
    height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 200px;
    box-sizing: border-box;
    border: 3px solid #cc6666;
  }

  .circle-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .popup-trigger {
    text-align: center;
  }

  a.popup-trigger {
    display: block;
  }
</style>

{{ partial "head.html" . }}

<div id="profileContainer">
  <div id="profile">
    <span class="circle-image">
      <a href="/post">
        <img src="/images/avatar.png" alt="avatar" class="profile-pic" />
      </a>
    </span>

    <br />

    {{ if .Site.Params.author }}
    <h1 style="text-align: center" class="author">{{ .Site.Params.author }}</h1>
    {{ end }} {{ if .Site.Params.description }}
    <p style="text-align: center">{{ .Site.Params.description | safeHTML }}</p>
    {{ end }}
  </div>
</div>
<div class="main">
  Welcome to my blog! In this blog, I talk about all things, from Linux, to
  programming, to modifying NeoVim, to the latest news in the world and much
  more.<br /><br />

  <h1>LaTeX</h1>
  <h2>Note Taking with LaTeX (In the making)</h2>
  <ui>
    <li>
      <a href="https://damrah.netlify.app/post/note-taking-with-latex-part-1/" class="center after">Note Taking with
        LaTeX - NeoVim.</a>
    </li>
    <li>
      <a href="https://damrah.netlify.app/post/note-taking-with-latex-part-2/" class="center after">Note Taking with
        LaTeX - Citation.</a>
    </li>
    <li>
      <a href="https://damrah.netlify.app/post/note-taking-with-latex-part-3/" class="center after">Note Taking with
        LaTeX - Figures.</a>
    </li>
    <li>
      <a href="https://damrah.netlify.app/post/note-taking-with-latex-part-4/" class="center after">Note Taking with
        LaTeX - Managment.</a>
    </li>
    <li>
      <a href="https://damrah.netlify.app/post/note-taking-with-latex-part-5/" class="center after">Note Taking with
        LaTeX - Research.</a>
    </li>
    <li>
      <a href="https://damrah.netlify.app/post/note-taking-with-latex-part-6/" class="center after">Note Taking with
        LaTeX - Journaling.</a>
    </li>
  </ui>
</div>
{{ end }}
