{{- $video_src := .Get "src" -}}
{{- $width := "100%" -}}

{{- $file := .Page.File.TranslationBaseName -}}
{{- $video_path := printf "/videos/%s/%s" $file $video_src -}}

{{- $poster := ((.Page.Resources.ByType "image").GetMatch (printf "%s*" $video_src)) -}}

<video
  {{ if ne (.Get "controls") "false" }}controls{{ end }}
  preload="auto"
  width="{{ or (.Get "width") $width }}"
  {{ with .Get "height" }}height="{{ . }}"{{ end }}
  {{ if eq (.Get "autoplay") "true" }}autoplay{{ end }}
  {{ if eq (.Get "loop") "true" }}loop{{ end }}
  {{ if eq (.Get "muted") "true" }}muted{{ end }}
  {{ with $poster }}poster="{{ .RelPermalink }}"{{ end }}
  playsinline class="html-video"
/>
